<h1><%= @task.id %>の詳細ページ</h1>

<%= form_with(model:@task, local:true) do |f| %>
  <%= render 'error', task: @task%>
  
  <%= f.label :status, "ステータス"%>
  <%= f.text_field :status %>
  <%= f.label :content, "タスク"%>
  <%= f.text_field :content %>
  <%= f.submit "編集" %>
<% end %>

<%= link_to "タスク一覧", task_path %>